<app-section
  [model]="sectionModel"
  [customClasses]="'d-grid grid-col-md-2 grid-col-1 gap-9 align-items-center'"
>
  <div leftContent>
    <img [src]="rightSideImg" class="w-100" />
  </div>
  <div sectionContent class="section-content d-flex flex-wrap gap-2">
    <a
      href="#"
      target="_blank"
      class="btn btn-highlight fs-18 fw-600 d-flex align-items-center"
      >Queimados
    </a>
    <a
      href="#"
      target="_blank"
      class="btn btn-highlight fs-18 fw-600 d-flex align-items-center"
      >São João de Meriti
    </a>
  </div>
</app-section>
