<app-section
  [model]="sectionModel"
  [customContainerClasses]="
    'd-grid grid-col-md-2 grid-col-1 gap-9 align-items-center'
  "
>
  <app-image-wrapper leftContent [imgPath]="rightSideImg"></app-image-wrapper>
  <div sectionContent class="section-content d-flex flex-column gap-2">
    <ng-container *ngFor="let department of departments">
      <div class="card-department d-flex gap-1 p-2 card-shadow">
        <div class="card-content ms-1 flex-grow-1">
          <h6 class="city fs-16">
            {{ department.city }}
          </h6>
          <p class="adress fw-600 fs-12">
            <i class="fa-solid fa-location-dot me-1"></i>
            {{ department.adress }}
          </p>
        </div>
        <div class="card-links d-flex gap-1">
          <a href="#">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</app-section>
