<header class="section d-flex flex-column">
  <nav
    class="d-flex align-items-center gap-5 container text-white fs-14 fw-600 py-3"
  >
    <h1 class="brand-name fs-24">BrandName</h1>
    <ul class="d-flex align-items-center nav-list gap-5 ms-8 me-auto">
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Home</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Product</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Pricing</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Contact</a>
      </li>
    </ul>
    <div class="action-links d-flex gap-5 align-items-center">
      <a href="#" class="action-link">Login</a>
      <a href="#" class="action-link btn btn-primary text-uppercase">Join Us</a>
    </div>
  </nav>
  <div
    class="hero d-flex flex-column flex-grow-1 align-items-center justify-content-center align-self-center text-center text-white"
    style="padding: 40px; max-width: 500px"
  >
    <h5 class="text-primary my-4">For Better Future</h5>
    <h1 class="my-4">Meet the Best Doctors</h1>
    <h4 class="fw-400 my-4">
      DentalCare is most focused in helping you discover your most beauiful
      smile
    </h4>
    <a href="#" class="action-link btn btn-primary text-uppercase fw-600 my-4"
      >Join Us</a
    >
  </div>
</header>
