<section class="container d-grid grid-col-md-2 grid-col-1 gap-9">
  <img src="/assets/sections/our-department/section-thumb.png" class="w-100" />
  <div class="section-content d-flex flex-column justify-content-center gap-2">
    <hr class="section-divider mb-5" />
    <h2>Our Department</h2>
    <p>
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>
    <a
      href="#"
      class="text-primary-text h6 fw-600 d-flex align-items-center me-auto"
      >Learn more <img src="/assets/icons/arrow-next.svg" class="ms-2"
    /></a>
  </div>
</section>
