<div class="card card-shadow d-flex flex-column">
  <img
    [src]="rootCoverPath + card.coverPath"
    [alt]="card.title"
    class="card-img"
  />
  <div class="card-content d-flex flex-column p-6 text-center">
    <h5 class="card-title">
      {{ card.title }}
    </h5>
    <small class="card-subtitle mb-3">
      {{ card.subtitle }}
    </small>
    <ul class="social-media-list d-flex gap-2 mx-auto align-items-center">
      <li class="social-media-item">
        <a href="#" class="social-media-link">
          <img [src]="socialMediaIcons['Facebook']" class="social-media-icon" />
        </a>
      </li>
      <li class="social-media-item">
        <a href="#" class="social-media-link">
          <img
            [src]="socialMediaIcons['Instagram']"
            class="social-media-icon"
          />
        </a>
      </li>
      <li class="social-media-item">
        <a href="#" class="social-media-link">
          <img [src]="socialMediaIcons['Twitter']" class="social-media-icon" />
        </a>
      </li>
    </ul>
  </div>
</div>
