<section [class]="customSectionClasses" *ngIf="model">
  <div [class]="'container section-container ' + customContainerClasses">
    <ng-content select="[leftContent]"></ng-content>
    <div class="content">
      <ng-content select="[sectionBefore]"></ng-content>
      <hr class="section-divider" />
      <!-- <h6 class="section-name fs-14" *ngIf="model.sectionName">
        {{ model.sectionName }}
      </h6> -->
      <h3>{{ model.title }}</h3>
      <p
        *ngIf="model.description"
        style="max-width: min(600px, 100%); line-height: 1.4"
        class="mb-4 fw-500"
        [innerHTML]="model.description"
      ></p>
      <ng-content select="[sectionContent]"></ng-content>
    </div>
    <ng-content select="[rightContent]"></ng-content>
  </div>
</section>
