@import '/src/app/shared/styles/breakpoints';

.custom-slider {
  padding-bottom: 48px;
  padding-top: 48px;
}

.slide{
  --_text-color: var(--white);
  --_bg-color: var(--base-text);
  scroll-snap-align: start;
  flex: 0 0 auto;
  min-height: 60vh;
  max-height: 85vh;
  width: 100%;
}

@media (min-width: $md-breakpoint) {
  .slide {
    width: 50% !important;
  }
}

@media (min-width: $lg-breakpoint) {
  .slide {
    width: calc(100% / 3) !important;
  }
}
