@import '/src/app/shared/styles/breakpoints';

.custom-slider {
  padding-bottom: 48px;
  padding-top: 48px;
}

.slide{
  --_text-color: var(--white);
  --_bg-color: var(--base-text);
  position: relative;
  scroll-snap-align: start;
  flex: 0 0 auto;
  display: flex;
  min-height: 60vh;
  max-height: 85vh;
}

@media (min-width: $md-breakpoint) {
  .slide {
    width: 50% !important;
  }
}

@media (min-width: $lg-breakpoint) {
  .slide {
    width: calc(100% / 3) !important;
  }
}

.slide-content{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 10px 10px var(--border-color);
}

.slide-img-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.slide-body {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  padding: 16px;
  background-color: var(--_bg-color);
  color: var(--_text-color);
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(transparent, var(--_bg-color));
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    transform: translateY(-100%);
  }
}
