@import '/src/app/shared/styles/breakpoints';

.custom-slider {
  padding-bottom: 48px;
}

.slide{
  padding: 8px;
  position: relative;
  scroll-snap-align: start;
  flex: 0 0 auto;
  display: flex;
  min-height: 60vh;
  max-height: 85vh;
}

@media (min-width: $md-breakpoint) {
  .slide {
    width: 50% !important;
  }
}

@media (min-width: $lg-breakpoint) {
  .slide {
    width: calc(100% / 3) !important;
  }
}

.slide-content{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--primary);
  overflow: hidden;
}

.slide-img-wrapper {
  overflow: hidden;
  width: 100%;
  border: 1px solid white;
  border-radius: inherit;
  > img {
    width: 100%;
    object-fit: cover;
  }
}

.slide-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: var(--primary);
  color: white;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(transparent, var(--primary));
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    transform: translateY(-100%);
  }
}
