<div
  class="slider-wrapper"
  [style]="
    '--_color: ' +
    manualNavColor +
    ';' +
    (customControlInsideSlide
      ? '--_control-x: ' + customControlInsideSlide
      : '')
  "
  [class.hide-control]="hideControl"
  [class.circle-control]="circleControl"
  [class.control-inside]="controlInsideSlide"
>
  <button class="control control-left" (click)="prevSlide(true)">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <button class="control control-right" (click)="nextSlide(true)">
    <i class="fa-solid fa-chevron-right"></i>
  </button>
  <nav class="slider-nav" *ngIf="manualNavArray.length">
    <ul class="slider-nav-list d-flex flex-nowrap gap-1">
      <ng-container *ngFor="let item of manualNavArray; let i = index">
        <li
          class="slider-nav-item"
          [class.active]="currentSlideOnScreen === i"
          (click)="setSlider(i)"
        ></li>
      </ng-container>
    </ul>
  </nav>
  <div
    #slider
    class="slider hide-scrollbar overflow-hidden"
    [class.control-margin]="controlMargin"
  >
    <ng-content select="[customSlides]"></ng-content>
  </div>
</div>
