<div class="w-100 py-3 bg-external-bg text-white">
  <p class="m-0 text-center fs-12 fw-600">
    Go to
    <a
      href="https://www.figma.com/community/file/1010616664991900346"
      class="text-primary"
      >Original figma design</a
    >
  </p>
</div>
<app-header></app-header>
<main>
  <app-practice-advice></app-practice-advice>
  <app-our-department></app-our-department>
  <app-courses></app-courses>
  <app-testimonials></app-testimonials>
  <app-team></app-team>
  <app-newsletter></app-newsletter>
</main>
<app-footer></app-footer>
