<header class="d-flex flex-column">
  <nav class="d-flex align-items-center container text-white fs-14 fw-600 py-3">
    <h1 class="brand-name fs-18 m-0">Instituto <br />Neurodiversidade</h1>
    <ul class="d-none d-lg-flex align-items-center nav-list gap-5 ms-auto mx-8">
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Início</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Sobre nós</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Serviços</a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="nav-item-link">Loja</a>
      </li>
    </ul>
  </nav>
</header>
<app-hero-carousel></app-hero-carousel>
