header {
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 0px 16px var(--black);
  z-index: 10;
  position: relative;
  > nav {
    color: black;
    min-height: 68px;
    height: 68px;
    z-index: 10;
  }
}
