.btn {
  --_btn-color: var(--black);
  --_btn-bg-color: var(--white);
  --_btn-hover-color: var(--white);
  --_btn-hover-bg-color: var(--black);
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--_btn-bg-color);
  color: var(--_btn-color);
  border: 0;
  cursor: pointer;
  transition: .3s;
  &:hover, &.active, &:active {
    background-color: var(--_btn-hover-bg-color);
    color: var(--_btn-hover-color);
  }
}

.btn.btn-primary {
  --_btn-color: var(--white);
  --_btn-bg-color: var(--primary);
  --_btn-hover-color: var(--white);
  --_btn-hover-bg-color: var(--primary-dark);
}

.btn.btn-outline-primary {
  --_btn-color: var(--primary);
  --_btn-bg-color: transparent;
  --_btn-hover-color: var(--white);
  --_btn-hover-bg-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn.btn-highlight {
  --_btn-color: var(--white);
  --_btn-bg-color: var(--highlight);
  --_btn-hover-color: var(--white);
  --_btn-hover-bg-color: var(--highlight);
}

.btn.btn-outline-highlight {
  --_btn-color: var(--highlight);
  --_btn-bg-color: transparent;
  --_btn-hover-color: var(--white);
  --_btn-hover-bg-color: var(--highlight);
  border: 1px solid var(--highlight);
}

.btn.btn-action {
  border-radius: 40px;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  padding: 0;
  border: 0;
}
