$flex-directions: row column;
@each $direction in $flex-directions{
  .flex-#{$direction} {
    flex-direction: #{$direction};
  }
  @media (min-width: $md-breakpoint) {
    .flex-md-#{$direction} {
      flex-direction: #{$direction} !important;
    }
  }
  @media (min-width: $lg-breakpoint) {
    .flex-lg-#{$direction} {
      flex-direction: #{$direction} !important;
    }
  }
  @media (min-width: $xl-breakpoint) {
    .flex-xl-#{$direction} {
      flex-direction: #{$direction} !important;
    }
  }
}

$flex-wraps: wrap nowrap;
@each $wrap in $flex-wraps{
  .flex-#{$wrap} {
    flex-wrap: #{$wrap};
  }
  @media (min-width: $md-breakpoint) {
    .flex-md-#{$wrap} {
      flex-wrap: #{$wrap} !important;
    }
  }
  @media (min-width: $lg-breakpoint) {
    .flex-lg-#{$wrap} {
      flex-wrap: #{$wrap} !important;
    }
  }
  @media (min-width: $xl-breakpoint) {
    .flex-xl-#{$wrap} {
      flex-wrap: #{$wrap} !important;
    }
  }
}

$flex-values: 0 1;
$flex-types: grow shrink;
@each $value in $flex-values{
  @each $type in $flex-types {
    .flex-#{$type}-#{$value} {
      flex-#{$type}: #{$value};
    }
    @media (min-width: $md-breakpoint) {
      .flex-md-#{$type}-#{$value} {
        flex-#{$type}: #{$value} !important;
      }
    }
    @media (min-width: $lg-breakpoint) {
      .flex-lg-#{$type}-#{$value} {
        flex-#{$type}: #{$value} !important;
      }
    }
    @media (min-width: $xl-breakpoint) {
      .flex-xl-#{$type}-#{$value} {
        flex-#{$type}: #{$value} !important;
      }
    }
  }
}

.flex-0-auto{
  flex: 0 0 auto;
}

$alignments: center flex-start flex-end;
@each $alignment in $alignments {
  .align-items-#{$alignment} {
    align-items: #{$alignment};
  }
  .align-content-#{$alignment} {
    align-content: #{$alignment};
  }
  .align-self-#{$alignment} {
    align-self: #{$alignment};
  }
}

$justifies: center flex-start flex-end space-between;
@each $justify in $justifies {
  .justify-items-#{$justify} {
    justify-items: #{$justify};
  }
  .justify-content-#{$justify} {
    justify-content: #{$justify};
  }
  .justify-self-#{$justify} {
    justify-self: #{$justify};
  }
}


@for $i from 0 through 10 {
  $value: $i;
  $gap-value: $value * calc(1 / 2);
  .gap-#{$value} {
    gap: #{$gap-value}rem;
  }
  @media (min-width: $md-breakpoint) {
    .gap-md-#{$value} {
    gap: #{$gap-value}rem;
    }
  }
  @media (min-width: $lg-breakpoint) {
    .gap-lg-#{$value} {
    gap: #{$gap-value}rem;
    }
  }
  @media (min-width: $xl-breakpoint) {
    .gap-xl-#{$value} {
    gap: #{$gap-value}rem;
    }
  }
}

@for $i from 0 through 1 {
  $value: $i;
  .flex-grow-#{$value} {
    flex-grow: $value;
  }
  .flex-shrink-#{$value} {
    flex-shrink: $value;
  }
  .flex-#{$value} {
    flex: $value $value;
  }
}
