section {
  background-color: var(--_bg-color);
}

.section-container {
  --_base-padding-y: 3rem;
  --_section-spacing-top: calc(7vmin + (var(--_base-padding-y) * .5));

  position: relative;
  transition: transform .5s, opacity .5s;

  &:not(header){
    padding-top: var(--_section-spacing-top);
    padding-bottom: var(--_section-spacing-top);
  }

  .mt-section {
    margin-top: var(--_section-spacing-top);
  }

  .mb-section {
    margin-bottom: var(--_section-spacing-top);
  }
}

.hide-section:not(.no-anim){
  transform: translateY(100px);
  opacity: 0;
}
.no-anim .hide-section {
  transform: translateY(0px);
  opacity: 1;
}

main {
  --_offset-top: -25px;
}
