section, .section {
  --_base-padding-y: 3rem;
  --_section-spacing-top: calc(7vmin + (var(--_base-padding-y) * .5));
  &:not(header){
    padding-top: var(--_section-spacing-top);
    padding-bottom: var(--_section-spacing-top);
  }

  .mt-section {
    margin-top: var(--_section-spacing-top);
  }

  .mb-section {
    margin-bottom: var(--_section-spacing-top);
  }
}

header.section{
  min-height: 95vh;
  min-height: 95svh;
}

.section-name {
  color: var(--primary-text);
}
