:root {
  --card-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  --card-shadow-sm: 0 6px 9px 0px rgba(0, 0, 0, 0.15);
}

.card-shadow {
  box-shadow: var(--card-shadow);
}

.card-shadow-sm {
  box-shadow: var(--card-shadow-sm);
}
