@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --base-font-size: 16px;
  --font-size: 13;
  font-size: calc(var(--font-size) * 1px);
}

@media (min-width: $md-breakpoint) {
  :root {
    --font-size: 16;
  }
}

h1, h2, h3, h4, h5, h6, p,
.h1, .h2, .h3, .h4, .h5, .h6, .p{
  margin: 0;
  margin-bottom: 8px;
}

h1, .h1 {
  font-size: 3.625rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 1.875rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6, p, .p {
  font-size: .875rem;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  @each $color-name, $color-value in $all-colors {
    --#{$color-name}: #{$color-value};
  }
}

@each $color-name, $color-value in $all-colors {
  .text-#{$color-name}{
    color: var(--#{$color-name});
  }
}

@for $i from 1 through 9 {
  $value: $i * 100;
  .fw-#{$value} {
    font-weight: $value !important;
  }
}

@for $i from 10 through 48 {
  $value: $i;
  $baseValue: 16;
  .fs-#{$value} {
    font-size: #{$value / $baseValue}rem !important;
  }
  @media (min-width: $md-breakpoint) {
    .fs-md-#{$value} {
      font-size: #{$value / $baseValue}rem !important;
    }
  }
  @media (min-width: $lg-breakpoint) {
    .fs-lg-#{$value} {
      font-size: #{$value / $baseValue}rem !important;
    }
  }
  @media (min-width: $xl-breakpoint) {
    .fs-xl-#{$value} {
      font-size: #{$value / $baseValue}rem !important;
    }
  }
}

$text-transforms: uppercase lowercase capitalize;
@each $text-transform in $text-transforms {
  .text-#{$text-transform} {
    text-transform: #{$text-transform};
  }
}

$text-alignments: start end center;
@each $text-alignment in $text-alignments {
  .text-#{$text-alignment} {
    text-align: #{$text-alignment};
  }
}
