<footer class="section-container py-0 no-anim">
  <div class="row mb-10 d-none">
    <div class="container d-flex gap-5" style="flex-wrap: wrap">
      <div *ngFor="let list of footerLists" class="footer-list flex-grow-1">
        <h5 class="mb-4">{{ list.title }}</h5>
        <ul class="footer-list">
          <li *ngFor="let item of list.links" class="footer-list-item mb-3">
            <a
              href="#"
              class="footer-list-link text-secondary-text fw-600 fs-14"
              >{{ item }}</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-list flex-grow-1" style="overflow: hidden">
        <h5 class="mb-4">{{ getInTouch.title }}</h5>
        <ul class="footer-list">
          <li
            *ngFor="let item of getInTouch.links; let i = index"
            class="footer-list-item mb-3"
          >
            <a
              href="#"
              class="footer-list-link d-flex align-items-center text-secondary-text fw-600 fs-14"
              style="
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              "
            >
              <img [src]="getInTouch.icons[i]" class="me-3" />
              {{ item }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="row bg-external-bg"
    style="padding-top: 24px; padding-bottom: 24px"
  >
    <div
      class="container d-flex flex-column fw-600 fs-14 gap-3"
      style="flex-wrap: wrap"
    >
      <ul
        class="social-media-list d-flex gap-2 align-items-center fs-28 text-primary"
      >
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['Facebook']"
            target="_blank"
            class="social-media-link"
          >
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="social-media-item">
          <a
            [href]="socialMediaLinks['Instagram']"
            target="_blank"
            class="social-media-link"
          >
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted m-0" style="line-height: 1.6">
        Copyright © 2023 Instituto Neurodiversidade
        <br />
        Site desenvolvido por
        <a
          style="text-decoration: underline"
          href="https://moisesmarchini.vercel.app"
          target="_blank"
          >Moisés Marchini</a
        >
      </p>
    </div>
  </div>
</footer>
