<ng-container *ngIf="carousel">
  {{ scrollLeft }}
  {{ isHover }}
</ng-container>

<div class="carousel-wrapper">
  <button class="d-none control control-left" (click)="prevSlide()">
    <i class="fa-solid fa-chevron-left"></i>
  </button>
  <button class="d-none control control-right" (click)="nextSlide()">
    <i class="fa-solid fa-chevron-right"></i>
  </button>
  <div #carousel class="carousel hide-scrollbar" (hover)="isHover = true">
    <div
      *ngFor="let slide of slides; let i = index"
      class="slide"
      [class.active]="i === currentSlide"
      [class.next-slide]="i > currentSlide"
      [class.prev-slide]="i < currentSlide"
    >
      <div class="container">
        <div class="slide-content">
          <h5 class="fs-14 text-highlight mb-2 pe-3">{{ slide.subtitle }}</h5>
          <h1 class="fs-42 fw-600 mb-2">{{ slide.title }}</h1>
          <h4 class="fs-14 fw-500 my-4">
            {{ slide.body }}
          </h4>
          <a
            href="#"
            class="action-link btn btn-highlight text-capitalize fw-600 my-4"
            >Fale conosco</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
