<app-header [overSlider]="true"></app-header>
<main>
  <app-hero></app-hero>
  <app-about-us class="bg-white bg-after"></app-about-us>
  <app-our-services
    class="bg-whitesmoke bg-before bg-after"
    id="services"
  ></app-our-services>
  <app-our-department class="bg-white bg-before bg-after"></app-our-department>
  <app-events
    class="bg-whitesmoke bg-before bg-after"
    style="--border-color: var(--muted)"
  ></app-events>
  <app-testimonials class="bg-white bg-before"></app-testimonials>
</main>
