<app-section
  [model]="sectionModel"
  [customContainerClasses]="
    'd-grid grid-col-md-2 grid-col-1 gap-9 align-items-center'
  "
>
  <app-image-wrapper leftContent [imgPath]="coverImg"></app-image-wrapper>

  <div sectionContent class="content fs-14 d-flex flex-column gap-1 fw-500">
    <p>
      Vamos além de uma simples clínica. Somos uma família unida e acolhedora, a
      sua comunidade inclusiva. Oferecemos terapias embasadas em evidências
      científicas, fornecendo suporte, orientação e consultoria às famílias,
      além de muito mais.
    </p>

    <ul class="fw-700 text-primary-dark">
      <li>Atendemos mais de 800 famílias</li>
      <li>Impactamos positivamente mais de 2 mil vidas</li>
      <li>Contamos com uma equipe de mais de 25 profissionais</li>
    </ul>

    <p>
      Com afeto, dedicação e um ambiente acolhedor, vemos nossos pacientes
      conquistando excelentes resultados. Observamos uma evolução constante no
      desenvolvimento de cada um, evidenciando o poder da nossa abordagem.
    </p>
  </div>
</app-section>
