.hero {
  position: relative;
  background-image: url('/assets/sections/header/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  &::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, var(--primary-dark), transparent);
    z-index: 0;
    opacity: 1;
  }
}

.container {
  z-index: 1;
  position: relative;
  height: 95vh;
  height: 95svh;
  text-wrap: balance;
  color: white;
}

hr {
  margin: 0 auto 1rem 0;
  width: 20vmax;
  height: 4px;
  border: 0;
  background-color: var(--highlight);
}

h1 {
  line-height: 1.1;
  font-size: clamp(32px, 7vmax, 76px);
}
