<section class="hero">
  <div class="container px-4 d-grid grid-col-md-3 grid-col-1">
    <div class="content mt-auto col-span-md-2 font-lato mb-12">
      <hr />
      <h1 class="text-white">
        Acolhendo o <span class="text-highlight">Potencial</span> de Cada
        Criança
      </h1>
      <p class="fw-500 mb-8 fs-16 text-muted">
        Terapias e cuidados personalizados para promover o desenvolvimento
        integral de crianças com autismo, TDAH, deficiências e muito mais.
        <br />
        Construímos juntos um futuro inclusivo e cheio de possibilidades.
      </p>
      <div class="d-flex gap-2 fw-600 flex-wrap fs-14">
        <a
          href="#services"
          target="_self"
          rel="noopener noreferrer"
          class="btn btn-highlight rounded-pill"
        >
          NOSSOS SERVIÇOS
        </a>
      </div>
    </div>
  </div>
</section>
